body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #decba4, #3e5151);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  background-color: #252e2e;
  width: 100%;
  padding: 25px;
}

nav ul li:hover {
  transform: scale(1.15);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

nav ul li {
  margin-right: 15px;
  transition: all 0.4s ease;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
