.share-card-button {
  color: #fff;
  margin-bottom: 20px;
  position: absolute;
  top: 220px;
  left: 69.5%;
  transform: translateX(-700%) scale(1.1);
  font-weight: 600;
  padding: 10px;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 20px;
  background: linear-gradient(225deg, #991e74, #22678f);
  visibility: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.share-card-button:hover {
  transform: translateX(-700%) scale(1.2);
}

.selected-cards .share-card-button {
  visibility: visible;
}
